* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}
.container {
  max-width: 1200px;
  margin: auto;
  padding: 1rem;
}
.todo-wrapper {
  display: flex;
  gap: 4rem;
}

.steps,
.todo-app {
  width: 100%;
  max-width: 640px;
  background: #fff;
  margin: 100px auto 20px;
  padding: 40px 30px 70px;
  border-radius: 10px;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.06);
}

.todo-app h2,
.steps h2 {
  color: #17506b;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 0 0 20px 20px;
  font-size: 1.8rem;
}
.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #edeef0;
  border-radius: 10px;
  padding-left: 20px;
  margin-bottom: 25px;
}
input {
  flex: 1;
  border: none;
  outline: none;
  background: transparent;
  padding: 10px;
}
button {
  border: none;
  outline: none;
  padding: 16px 40px;
  background-color: #17506b;
  color: #fff;
  font-size: 17px;
  cursor: pointer;
  border-radius: 10px;
}
button:hover {
  background-color: #226686;
}
.error-message {
  color: rgba(255, 0, 0, 0.792);
  margin: -1rem 0 1.5rem 1rem;
  font-size: 0.9rem;
}
ol li {
  padding: 10px 0px 12px 10px;
  margin-left: 20px;
  font-size: 17px;
}

ul li {
  list-style: none;
  font-size: 17px;
  padding: 12px 8px 12px 50px;
  user-select: none;
  cursor: pointer;
  position: relative;
  border-radius: 10px;
  margin: 5px 0;
}

/* When clicked on, add a background color and strike out text */
ul li.checked {
  color: #fff;
  background: #86b5c9;
  /* background: #17506b; */
  text-decoration: line-through;
}

ul li.checked::before {
  content: '';
  position: absolute;
  border-color: #fff;
  border-style: solid;
  border-width: 0 2px 2px 0;
  top: 12px;
  left: 25px;
  transform: rotate(45deg);
  height: 15px;
  width: 7px;
}
ul li span {
  position: absolute;
  right: 5px;
  top: 5px;
  width: 40px;
  height: 40px;
  font-size: 22px;
  color: #555;
  line-height: 40px;
  text-align: center;
  border-radius: 5px;
}
ul li span:hover {
  background: #edeef0;
}
